$usedIcons: "" !default !global;

%sprite-bg{
    background: url("#{$icons_sprite}") no-repeat;
}

@mixin icon( $sprite, $zoom: 1, $sprite-map: $default-sprite-map, $important: false) { // generates only one re-usable placeholder per icon per page
    @extend %sprite-bg;
    @if( $zoom and  $zoom != 1 ) {
       transform: scale( $zoom ); 
    } 
    $append: "";
    $spriteName: $sprite;

    @if($important == true) {
        $append: "!important";
        $spriteName: $sprite + -important;
        // @warn( $spriteName );
        // asdf: fdsa;
    }

    @each $key, $val in $sprite-map {
        @if ( $sprite == $key ) {
            @if( not index( $usedIcons, $spriteName ) ) { // be sure that it isn't already on the page...
                $usedIcons: append( $usedIcons, $spriteName ) !global;
                $curList: map-get( $sprite-map, $sprite );

                @debug $curList;


                @at-root %icon-#{ $spriteName } {
                    background-position: #{nth( $curList, 1 )}px  #{nth( $curList, 2 )}px #{ $append };
                    width: #{nth( $curList, 3 )}px #{ $append };
                    height: #{nth( $curList, 4 )}px #{ $append };
                }
            }
            @extend %icon-#{ $spriteName };
        }
    }
    @if( not index( $usedIcons, $spriteName ) ) {
        @warn ( "No icon " + $sprite + " found." )
    }
}

// sprite maps are constructed as
// name: ( background-position-X, background-position-Y, width, height ),
// "px" should not be included

// $default-sprite-map: (
// //
// //refresh
//     refresh-doc: (-99, -36, 17, 14),
//     refresh-doc-active: (-124, -36, 15, 14),

// //minimize/maximize
//    max: (-1, -158, 15, 15),
//    max-active: (-24, -158, 15, 15),
//    min: (-48, -158, 15, 15),
//    min-active: (-74, -158, 15, 15),

// //contact
//     phone: (-102, -162, 13, 10),
//     phone-active: (-126, -162, 13, 10),
//     cell: (-3, -75, 9, 13),
//     cell-active: (-27, -75, 9, 13),
//     fax: (-48, -74, 15, 14),
//     fax-active: (-73, -74, 15, 14),

// //starz
//     star: (-120,-70,24,24),
//     star-active: (-95,-70,24,24),

//     small-dark-logo:  (-7, -101, 17, 17),
//     medium-dark-logo:  (-30, -101, 27, 27),
//     large-dark-logo:  (-63, -101, 40, 40),

//  //Buttons
//     grey-button:  (0, -432, 129, 31),
//     blue-button:  (0, -470, 129, 30),

//  // Arrows
//     white-left-arrow:  (0, -232,  17, 21),
//     blue-left-arrow:  (0, -203,  17, 21),

//  // Arrows 
//     white-right-arrow:  (-24, -232,  17, 21),
//     blue-right-arrow:  (-24, -203,  17, 21),

//  // Left End Arrows
//     white-left-end-arrow:  (-100, -233,  20, 18),
//     blue-left-end-arrow:  (-100, -262,  20, 18),

//  // Right End Arrows
//     white-right-end-arrow:  (-124, -233,  19, 18),
//     blue-right-end-arrow:  (-124, -262,  19, 18),

//  // Warning
//     warning:  (0, -184,  17, 16),
    
//  // Filter
//     add-filter:  (-24, -184,  16, 16),

//  // Magnifying Glass
//     search:  (1, -516, 27, 27 ),
//     search-active:  (-25, -400, 19, 19 ),

//  // User
//     user:  (0, -378,  17, 15),
//     user-active:  (-26, -378,  17, 15),
//     user-white: (0, -138, 17, 15),
//  // Key
//     key:  (0, -358,  16, 8),
//     key-active:  (-26, -358,  16, 8),
//  // Gear 
//     gear:  (0, -332,  15, 15),
//     gear-active:  (-26, -332,  15, 15),
//  // Trash 
//     trash:  (0, -310,  13, 16),
//     trash-active:  (-26, -309,  13, 17),
//  // Lock   
//     lock:  (0, -287,  11, 15),
//     lock-active:  (-25, -287,  17, 15),

//  // Calendar
//     calendar: (-1, -55, 11, 11),
//     calendar-active: (-15, -55, 11, 11),

//  // Layout
//     layout:  (0, -263,  16, 16),
//     layout-active:  (-25, -263,  17, 16),

//  // Plus Button
//     plus-button:  (-48, -204,  18, 18),
//     plus-button-active:  (-100, -204,  18, 18),

//  // Minus Button
//     minus-button:  (-74, -204,  18, 18),
//     minus-button-active:  (-125, -204,  17, 18),

//  // xmark
//     xmark:  (-51, -236,  13, 13),
//     xmark-white:  (-77, -235,  13, 13),
//     xmark-active: (-32, -53, 13, 12),
//  // checkmark
//     checkmark:  (-51, -266,  14, 11),
//     checkmark-active:  (-77, -266,  14, 11),
//  // pin
//     pin:  (-52, -288,  12, 15),
//     pin-active:  (-78, -288,  13, 15),
//  // pencil
//     pencil:  (-51, -312,  12, 13),
//     pencil-active:  (-78, -311,  11, 14),
//  // mail
//     mail:  (-52, -336,  11, 8),
//     mail-active:  (-78, -336,  11, 8),
//  // wireless
//     wireless:  (-71, -454, 16, 21 ),
//     wireless-active:  (-71, -454, 16, 21 ),
//  // checklist
//     checklist:  (-71, -487,  16, 21),
//     checklist-active:  (-71, -487,  16, 21),
//  // usb
//     usb:  (-50, -403,  18, 16),
//     usb-active:  (-76, -403,  18, 16),
//  // reports
//     reports:  (-103, -288,  14, 12),
//     reports-active:  (-127, -288,  15, 12),
//  // documents
//     documents:  (-105, -311,  10, 12),
//     documents-active:  (-130, -311,  11, 12),
//  // user group
//     user-group:  (-101, -336,  16, 8),
//     user-group-active:  (-127, -336,  16, 8),
//  // radio
//     radio:  (-102, -355,  13, 13),
//     radio-active:  (-126, -355,  13, 13),
//  // checkbox
//     checkbox:  (-102, -382,  13, 12),
//     checkbox-active:  (-126, -381,  13, 13),
//  // checkbox-hand
//     checkbox-hand:  (-105, -403,  10, 14),
//     checkbox-hand-active:  (-127, -403,  9, 14),
//     dollar-sign:  (-6, -107, 17, 16),

// // agent
//     agent: (-176, -212, 16, 21),
//     agent-active: (-143, -212, 16, 21),
// //chatbox
//     chatbox: (-48, -180, 17, 15),
//     chatbox-active: (-73, -180, 17, 15),

//     // 
//     handshake: (-96, -37, 29, 20),

//     // 
//     puzzle-piece: (-139, -35, 21, 22),
//     //     
//     speed-clock: (-170, -37, 23, 19),
// );


$default-sprite-map: (

// Magnifying Glass
    search:  (0, -918, 24, 26 ),

// mail
    mail:  (-72, -830,  16, 11),

// wireless
    wireless:  (-71, -856, 16, 21 ),

// checklist
    checklist:  (-71, -889,  16, 21),

// agent
    agent: (-176, -614, 16, 21),

// Handshake
    handshake: (-96, -439, 29, 20),

// puzzle-piece 
    puzzle-piece: (-139, -437, 21, 22),

// speed-clock
    speed-clock: (-170, -439, 23, 19),

// Facebook
    facebook: (-42, -184, 12, 24),

// Twitter
    twitter: (-74, -185, 22, 20),

// LinkedIn
    linkedin: (-144, -146, 21, 21),

// Google+
    google: (-143, -188, 26, 17),

// Home
    home: (-67, -438, 20, 19),

// Locations
    locations: (-143, -222, 17, 23),    

// gear
    gear: (0, -825, 21, 20),

// contact
    contact: (-67, -615, 23, 20),

);