%lineBreak {
    background-image: url('../img/sprites/linebreak.svg');
    background-repeat: repeat-x;
    background-attachment: inherit;
    background-position: 0 50%; 
    background-size: 2px 2px;
    margin: auto;
}

%valid-content {
	display: block;
	position: relative;
    content: "\00a0";
}
