/////////////////
/// REM
/////////////////


/////////////////
/// Color Palette
/////////////////

$main-blue: #faa;
$main-white: #fff;
$main-black: #000;
$main-grey: #afafaf;
$main-green: #afafaf;

/////////////////
/// Paths
/////////////////


// $imageRoot : "/MRS/frontend/web/common/img/" !default; //server
$imageRoot : "/app/media/svg/" !default; //loc/al
										  //this value relies on the vhost configuration
										  //DocumentRoot must be set to "/var/www/MRS" or "/www/MRS"
										  //rather than "/var/www/MRS/frontend/web"
										  //
										  //If the latter vhost config is needed, remove the "/frontend/web"
										  //from the $imageRoot variable defined above.

// Sprites
$icons_sprite : $imageRoot + "icons.svg" !default;



// Fonts


/////////////////
/// Break Points
/////////////////

// _config.scss
$breakpoints: (
  small-phone: 20em,
  sectional: 25em,
  large-phone: 30em, 
  small-tab: 37.5em,
  medium-tab: 48em,
  large-tab: 56.25em,
  xlarge-tab: 60em,
  small-desktop: 64em,
  medium-desktop: 68.75em,
  large-desktop:  81.25em,
  xlarge-desktop:  87em,
);

$custom-breakpoints: (
    
);
 

// $usedWidgets: ();
