<link rel=stylesheet href="main.css" />
<link rel="stylesheet" href="../js/perfect-scrollbar/src/perfect-scrollbar.css">
<script type="text/javascript" src="../js/jquery.min.js"></script>
<script type="text/javascript" src="../js/perfect-scrollbar/src/perfect-scrollbar.js"></script>

<style>
li {
	border-color: transparent;
}
</style>
<div  id="current-filters"> <!-- style="width: 400px; height: 500px;"> -->
	<div class="header">
		<span>
			Vita-List .xl
		</span>
	</div>
	<div class="content">
		<ul class="">
			<li>
				<div>
					Gustavo Adame
				</div>
				<div>
					<div>
						<img src="../img/gustavo.png">
					</div>
					<div>
						<div>
							<span>ID</span>
							<span>Hire Date</span>
							<span>Job Pos</span>
							<span>Safety</span>
						</div>
						<div>
							<span>16</span>
							<span>12/15/13</span>
							<span>Electrician</span>
							<span>4.2</span>
						</div>
					</div>
				</div>
			</li>
			<li>
				<div>
					Clinton Smith
				</div>
				<div>
					<div>
						<img src="../img/clinton.png">
					</div>
					<div>
						<div>
							<span>ID</span>
							<span>Hire Date</span>
							<span>Job Pos</span>
							<span>Safety</span>
						</div>
						<div>
							<span>28</span>
							<span>12/15/13</span>
							<span>Roofer</span>
							<span>4.5</span>
						</div>
					</div>
				</div>
			</li>
			
			<li>
				<div>
					Luis Camo
				</div>
				<div>
					<div>
						<img src="../img/luis.png">
					</div>
					<div>
						<div>
							<span>ID</span>
							<span>Hire Date</span>
							<span>Job Pos</span>
							<span>Safety</span>
						</div>
						<div>
							<span>32</span>
							<span>6/11/14</span>
							<span>Framer</span>
							<span>3.2</span>
						</div>
					</div>
				</div>
			</li>
			<li>
				<div>
					Elias Torres
				</div>
				<div>
					<div>
						<img src="../img/clinton.png">
					</div>
					<div>
						<div>
							<span>ID</span>
							<span>Hire Date</span>
							<span>Job Pos</span>
							<span>Safety</span>
						</div>
						<div>
							<span>46</span>
							<span>8/28/11</span>
							<span>Plumber</span>
							<span>3.9</span>
						</div>
					</div>
				</div>
			</li>
			
<li>
				<div>
					Gustavo Adame
				</div>
				<div>
					<div>
						<img src="../img/gustavo.png">
					</div>
					<div>
						<div>
							<span>ID</span>
							<span>Hire Date</span>
							<span>Job Pos</span>
							<span>Safety</span>
						</div>
						<div>
							<span>16</span>
							<span>12/15/13</span>
							<span>Electrician</span>
							<span>4.2</span>
						</div>
					</div>
				</div>
			</li>
			<li>
				<div>
					Clinton Smith
				</div>
				<div>
					<div>
						<img src="../img/clinton.png">
					</div>
					<div>
						<div>
							<span>ID</span>
							<span>Hire Date</span>
							<span>Job Pos</span>
							<span>Safety</span>
						</div>
						<div>
							<span>28</span>
							<span>12/15/13</span>
							<span>Roofer</span>
							<span>4.5</span>
						</div>
					</div>
				</div>
			</li>
			
			<li>
				<div>
					Luis Camo
				</div>
				<div>
					<div>
						<img src="../img/luis.png">
					</div>
					<div>
						<div>
							<span>ID</span>
							<span>Hire Date</span>
							<span>Job Pos</span>
							<span>Safety</span>
						</div>
						<div>
							<span>32</span>
							<span>6/11/14</span>
							<span>Framer</span>
							<span>3.2</span>
						</div>
					</div>
				</div>
			</li>
			<li>
				<div>
					Elias Torres
				</div>
				<div>
					<div>
						<img src="../img/clinton.png">
					</div>
					<div>
						<div>
							<span>ID</span>
							<span>Hire Date</span>
							<span>Job Pos</span>
							<span>Safety</span>
						</div>
						<div>
							<span>46</span>
							<span>8/28/11</span>
							<span>Plumber</span>
							<span>3.9</span>
						</div>
					</div>
				</div>
			</li>
				
<!-- 				<div class="vita-list mini crunch" style="margin-top: 0;height: 100%;width:15rem; float: right;clear: none;">
					<div class="header">
						<span>.mini .crunch</span>
					</div>
					<div class="content">
						<ul class="divider wide interactive alternate">
							<li>.five-rows<br>second row<br>third row<br>fourth row<br>fifth row<br>sixth row<br>seventh row<br>
								eight<br>nine<br>ten<br>eleven<br>twelve<br></li>
							<li class="">selected<br>fda<br>kjfa</li>
							<li>list</li>
							<li>fad</li>
							<li>list</li>
							<li>fad</li>
							<li>list</li>
							<li>fad</li>
						</ul>
					</div>
					<div class="footer">
						<span>
							
							footer
						</span>
					</div>
				</div>

 -->			<!-- 	first row<br>second row<br>third row<br>fourth row<br>fifth row<br>sixth row<br>seventh row<br><!-- 
				eight<br>nine<br>ten<br>eleven<br>twelve<br>thirteen<br>fourteen<br>fifteen<br>sixteen<br>seventeen<br>eighteen<br>nineteen<br>twenty<br>twenty-one -->
				<!-- First<br>afsd<br>afsd<br>adsf
			</li>
			<li>one two<br>three<br>rows</li> -->
			<!-- <li>Third filter<br>newline<br>newline</li> -->
			<!-- <li>a<br>with text<br>third<br>fourth</li>
			<li>two<br>rows</li>
			<li>sebum<br>one<br>middle<br>four<br>five<br>six</li>
			<li></li> -->
		</ul>
	</div>
	<div class="footer" style="">
		<div class="vitacon usbButton">
			<span>
				save list
			<span>
		</div>
	</div>
	

</div>

<script>
$( ".content" ).perfectScrollbar();
</script>