@import "../../../../toolbox";

$config: (
	options: (
		// max-width: 400,
		// position: left,
		// align: left,
		size: 4,
		spacing: 2,
		extendable: true,
		scrollable: true,
	),
	header: (
		// spacing: crunch,
	),
	content: (
		minRows: 2,
		divider: 9 center,
		// useWidget: info,
		// divider-position: right, //optional. for clarity
		interactive: true,
		selectable: true,
		// align: right,
		// rows: 1,
		// spacing: crunch,
	),
	footer: (
		// align: right,
		// spacing: crunch,
		// align: left,
		// includeButton: true,
		// buttonIcon: search,
	)
);


// @include vita-list( $config, #current-filters );

.vita-list {
	@include vita-list( $config );
}

// both of these syntaxes work ^^^^^^